* {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    color: rgba(19,9,9,1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}
main{
 text-align: center;
}
.name{
    font-size: 400%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-weight: bold;
    color: rgba(42,24,13,1);
}
.intro{
    font-size: 125%;
    margin-left: 5%;
    margin-right: 5%;
}
body{
    background-image: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: auto;
}
.small_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}
.portfolio {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(209,176,141,.7);
    border-style: ridge;
    border-color: rgba(126,73,40,1);
    border-width: 10px;
  }
figure{
    display: flex;
    justify-content: center;
    align-items: center;
}
audio::-webkit-media-controls-panel {
    background-color: rgba(126,73,40,1);
}
audio::-webkit-media-controls-current-time-display {
    color: rgb(55,37,20);
}
audio::-webkit-media-controls-time-remaining-display {
    color: rgb(55,37,20);
}
.margin {
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
p{
    margin: 0;
    margin-top: 1.5rem;
    font-size: 1.15rem;
}
.section-title{
    font-size: 175%;
}
.title{
    font-size: 125%;
}
.text{
    margin-top: 0;
    font-style: italic;
    padding-top: 5px;
    font-size: 1rem;
    margin-left: 5%;
}

.highlight-brown {
    background: linear-gradient(180deg,rgba(255,255,255, 0) 65%, rgba(126,73,40,255) 65%);
}
.thin-highlight-brown{
    background: linear-gradient(180deg,rgba(255,255,255, 0) 80%, rgba(126,73,40,255) 80%);
}
.footer{
    text-align: center;
}